aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiosignal==1.4.0
anyio==4.12.0
attrs==25.4.0
cbor2==5.8.0
certifi==2025.11.12
click==8.3.1
cloudpickle==3.1.2
contourpy==1.3.3
cycler==0.12.1
Farama-Notifications==0.0.4
filelock==3.20.1
fonttools==4.61.1
frozenlist==1.8.0
fsspec==2025.12.0
grpclib==0.4.9
gymnasium==1.2.3
h2==4.3.0
hpack==4.1.0
hyperframe==6.1.0
idna==3.11
Jinja2==3.1.6
kiwisolver==1.4.9
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.10.8
mdurl==0.1.2
modal==1.3.0.post1
mpmath==1.3.0
multidict==6.7.0
networkx==3.6.1
numpy==2.2.6
opencv-python==4.12.0.88
packaging==25.0
pandas==2.3.3
pillow==12.0.0
propcache==0.4.1
protobuf==6.33.2
pygame==2.6.1
Pygments==2.19.2
pyparsing==3.3.1
python-dateutil==2.9.0.post0
pytz==2025.2
rich==14.2.0
scipy==1.16.3
setuptools==80.9.0
shellingham==1.5.4
six==1.17.0
stable_baselines3==2.7.1
sympy==1.14.0
synchronicity==0.11.1
toml==0.10.2
torch==2.9.1
typer==0.21.0
types-certifi==2021.10.8.3
types-toml==0.10.8.20240310
typing_extensions==4.15.0
tzdata==2025.3
watchfiles==1.1.1
yarl==1.22.0
